:root {
  font-size: 62.5%;

  --green-trybe: #2fc18b;

  --green-trybe-hover: #279b70;

  --gray-trybe-disabled: grey;

  --yellow: #f9ba1a;

  --magenta: #ea5d5d;

  --purple: #3c1b7a;

  --header-height: 11.3rem;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3c1b7a; /* Define a cor da statusbar do Safari no iOS */
  font-family: sans-serif;
  font-size: 1.6rem;
  width: 100%;
}

a, a:hover, button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
