.header {
  background: white;
  height: var(--header-height);
  position: relative;
  width: 100%;
}

.headerContent {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  right: 13.6rem;
}

.userAvatar {
  border-radius: 100%;
  height: 3.7rem;
  width: 3.7rem;
}

.userInfos {
  align-items: center;
  display: flex;
  gap: 1.3rem;
}

.userInfos p {
  font-weight: 500;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 14.4rem;
}

.userScore {
  align-items: center;
  display: flex;
  gap: 1.3rem;
  margin-right: 6.7rem;
  width: 14.4rem;
}

.userScore :nth-child( 3 ) {
  font-weight: 600;
}

@media screen and ( max-width : 666px ) {

  .headerContent {
    justify-content: center;
    position: initial;
    width: 100%;
  }
}

@media screen and ( max-width : 455px ) {

  .headerContent {
    align-items: center;
    flex-direction: column;
    position: initial;
    width: 100vw;
  }

  .gear {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }


  .userInfos {
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
  }

  .userAvatar {
    height: 4rem;
    width: 4rem;
  }

  .userInfos p {
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
  }

  .userScore {
    align-items: center;
    bottom: 1rem;
    display: flex;
    height: fit-content;
    justify-content: center;
    left: 1rem;
    margin-right: 0;
    position: absolute;
    top: 1rem;
    width: auto;
  }

  .userScore :nth-child( 1 ) {
    width: 4rem;
  }

  .userScore :nth-child( 3 ) {
    position: absolute;
    top: 1.1rem;
  }

  .userScore :nth-child( 2 ) {
    display: none;
  }
}
